/* CSS */
/* General body styling */
body {
  margin: 0;
  font-family: Arial;
  background: #f0f0f0;
  color: #333;
}

/* Header styling */
header {
  background: #12253E;
  color: #fff;
  padding: 5px;
  position: relative;
  display: flex; 
  align-items: center; 
  justify-content: space-between;  /* Distribute space between logo, title, and nav */
  border-bottom: 4px solid #fff;
}

/* Logo positioning in header */
header .logo {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 100px;
  height: 60px;
}


/* Header title styling */
header h1 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  font-family: Arial;
  padding-top: 10px;
  padding-left: 130px;
}

/* Navigation menu styling */
/* nav ul {
  list-style: none;
  padding-left: 250px;
  padding-top: 20px;
  margin: 0;
  display: flex;
}  */

/* Navigation menu styling using Flexbox (for responsive)*/
nav ul {
  list-style: none;
  margin: 0;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

/* Navigation menu item styling */
nav ul li {
  padding-right: 10px;
}

/* Navigation link styling */
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial;
}

/* Main content area styling */
main {
  padding: 5px;
  text-align: center;
  background: url('sources/background.jpg') no-repeat center center;
  background-size: cover;
  min-height: calc(100vh - 120px); /* Adjust this calculation if header and footer heights change */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer styling */
footer {
  background: #12253E;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  font-family: Arial;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 4px solid #fff;
}




/* Dashboard content styling */
.dashboard-content {
  display: flex;
  /*flex-wrap: wrap;*/
  width: 66%;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}

/* Widget styling */
.widget {
  width: 33%;
  height: 250px;
  margin: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


/* Temperature widget styling */
.temperature {
  background: #00bfff;
}
.temperature .temp-description {
  font-size: 30px;  
  font-weight: bold;
  margin: 0;
}
.temperature .temp-value {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

/* Humidity widget styling */
.humidity {
  background: #ffdf00;
}
.humidity .humd-description {
  font-size: 30px;  
  font-weight: bold;
  margin: 0;
}
.humidity .humd-value {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

/* Pressure widget styling */
.pressure {
  background: #ff6347;
}
.pressure .pres-description {
  font-size: 30px;  
  font-weight: bold;
  margin: 0;
}
.pressure .pres-value {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}


/* Home, About and Config content styling */
.homepage-content, .about-content, .config-content {
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

h2 {
  text-align: center;
  font-size: 30px;  
  font-weight: bold;
}

/* Button container styling */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Add space between buttons */
}

/* Button styling */
button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

/* temperature history and unit buttons styling */
.prev-temp-button, #toggle-temp-unit {
  background-color: #007bff;
}
.prev-temp-button:hover, #toggle-temp-unit:hover {
  background-color: #0056b3;
}

/* humidity history button styling */
.prev-humd-button {
  background-color: #FFC300;
}
.prev-humd-button:hover {
  background-color: #FFFF00;
}

/* pressure history button styling */
.prev-pres-button {
  background-color: #FF4500;
}
.prev-pres-button:hover {
  background-color: #FF5237;
}


/* Config Button Styles */
#add-sensor-button, #add-data-button {
  background-color: #4CAF50;
}
#add-sensor-button:hover, #add-data-button:hover  {
  background-color: #45a049;
}

#delete-data-button {
  background-color: #f44336;
}
#delete-data-button:hover {
  background-color: #da190b;
}


/* Media queries for smaller screens */
@media (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }

  nav ul li a {
    font-size: 14px;
  }

  .widget {
    width: 98%;
  }

  footer {
    font-size: 14px;
  }
  
  .dashboard-content {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 18px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .widget {
    width: 95%;
  }

}




/* Table styling
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #4CAF50;
  color: white;
}

th, td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #ffdab9; 
}

tbody tr:nth-child(even) {
  background-color: #d0f0c0; 
}

tbody tr:hover {
  background-color: #ddd;
} */
