/* General body styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  color: #333;
  overflow-y: auto;
}

/* Header styling */
header {
  background: #12253E;
  color: #fff;
  padding: 5px;
  position: relative;
  display: flex; 
  align-items: center; 
  justify-content: space-between; /* Distribute space between logo, title, and nav */
  border-bottom: 4px solid #fff;
}

/* Logo positioning in header */
header .logo {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 100px;
  height: 60px;
}

/* Header title styling */
header h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 130px;
}

/* Navigation menu styling using Flexbox (for responsive)*/
nav ul {
  list-style: none;
  margin: 0;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap; 
}

/* Navigation menu item styling */
nav ul li {
  padding-right: 10px;
}

/* Navigation link styling */
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

/* Menu icon for mobile view */
.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* Hide the checkbox */
#menu-toggle {
  display: none;
}

/* Main content area styling */
main {
  padding: 5px;
  text-align: center;
  background: url('sources/background.jpg') no-repeat center center;
  background-size: cover;
  min-height: calc(100vh - 120px); /* Adjust this calculation if header and footer heights change */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  box-sizing: border-box; /* Include padding in height calculation */
}

/* Footer styling */
footer {
  background: #12253E;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border-top: 4px solid #fff;
  margin-top: auto;
}

/* Dashboard content styling */
.dashboard-content {
  display: flex;
  width: 66%;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}

/* Widget styling */
.widget {
  width: 33%;
  height: 250px;
  margin: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.temperature, .humidity, .pressure {
  background: #fff; /* Default background color for widgets */
}

/* Specific widget background colors for temperature, humidity and pressure*/
.temperature {
  background: #00bfff;
}

.humidity {
  background: #ffdf00;
}

.pressure {
  background: #ff6347;
}

/* Widget description styling */
.widget .temp-description, .widget .humd-description, .widget .pres-description {
  font-size: 30px;  
  font-weight: bold;
  margin: 0;
}

/* Widget value styling */
.widget .temp-value, .widget .humd-value, .widget .pres-value {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

/* Home, About, and Config content styling */
.homepage-content, .about-content, .config-content {
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

/* Center align paragraph text in homepage content */
.homepage-content p {
  text-align: center;
}

/* Link font styling in homepage */
#linkfont {
  font-weight: bold;
  font-size: 20px;
}

h2 {
  text-align: center;
  font-size: 30px;  
  font-weight: bold;
}

/* Button container and button styling */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Button styling */
button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

/* Button background colors for temp history and toggle unit*/
.prev-temp-button, #toggle-temp-unit {
  background-color: #007bff;
}
.prev-temp-button:hover, #toggle-temp-unit:hover {
  background-color: #0056b3;
}

/* Button background colors for humidity history*/
.prev-humd-button {
  background-color: #FFC300;
}
.prev-humd-button:hover {
  background-color: #FFFF00;
}

/* Button background colors for pressure history*/
.prev-pres-button {
  background-color: #FF4500;
}
.prev-pres-button:hover {
  background-color: #FF5237;
}

/* Filter container styling */
.filter-container {
  padding: 10px; 
  background-color: #ddddFF;
}

/* Filter container label and select styling */
.filter-container label, .filter-container select {
  margin: 0 5px;
}

/* Unit toggle button styling */
#unitToggle {
  background: linear-gradient(135deg, #3a7bd5 0%, #3a6073 100%);
  border: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px; 
  box-shadow: 0 4px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

#unitToggle:hover {
  background: linear-gradient(135deg, #2c6aa8 0%, #2c4f60 100%);
  box-shadow: 0 6px rgba(0, 0, 0, 0.15); 
  transform: translateY(-2px); 
}

/* Add button styling in config page*/
#add-sensor-button, #add-data-button {
  background-color: #4CAF50;
}
#add-sensor-button:hover, #add-data-button:hover {
  background-color: #45a049;
}

/* Delete button styling in config page*/
#delete-data-button {
  background-color: #f44336;
}
#delete-data-button:hover {
  background-color: #da190b;
}

/* Media queries for responsive design */
@media (max-width: 1024px) {
  header h1 {
    font-size: 24px;
    padding-left: 100px;
  }

  header .logo {
    width: 80px;
    height: 48px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    background: #12253E;
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0; /* Align the dropdown menu to the right */
    z-index: 1000; /* Ensure the dropdown menu is above other elements */
  }

  nav ul li {
    width: auto; /* Adjust width to fit content */
    text-align: right;
    padding: 10px 20px;
  }

  #menu-toggle:checked + .menu-icon + nav ul {
    display: flex;
  }

  .menu-icon {
    display: block;
    font-size: 30px;
    padding-left: 400px;
    z-index: 1001; /* Ensure the menu icon is above other elements */
  }

  .widget {
    width: 96%;
  }

  footer {
    font-size: 16px;
  }
  
  .dashboard-content {
    flex-direction: column;
    width: 70%;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 25px;
  }

  header .logo {
    width: 80px;
    height: 48px;
  }

  nav ul li {
    width: auto;
    text-align: right;
    padding: 10px 20px;
  }

  #menu-toggle:checked + .menu-icon + nav ul {
    display: flex;
  }

  .menu-icon {
    display: block;
    font-size: 25px;
    padding-left: 300px;
    z-index: 1001;
  }

  .widget {
    width: 97%;
  }

  footer {
    font-size: 14px;
  }
  
  .dashboard-content {
    flex-direction: column;
    width: 70%;
    padding: 10px;
  }
}

@media (max-width: 540px) {
  header h1 {
    font-size: 16px;
    padding-left: 80px;
  }

  header .logo {
    width: 40px;
    height: 30px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    top: 45px; 
  }

  .menu-icon {
    padding-left: 5px;
    font-size: 20px;
  }


  .widget {
    width: 95%;
  }

  footer {
    font-size: 12px;
  }
  
  .dashboard-content {
    flex-direction: column;
    width: 70%;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 18px;
    padding-left: 60px;
  }

  header .logo {
    width: 50px;
    height: 36px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
  }

  .menu-icon {
    padding-left: 75px;
    padding-top: 8px;
    font-size: 20px;
    z-index: 1001; 
  }

  .widget {
    width: 95%;
  }

  footer {
    font-size: 14px;
  }
  
  .dashboard-content {
    flex-direction: column;
    width: 70%;
    padding: 10px;
  }
}

/* Flashing background effect */
.flashing-background {
  animation: flash 2s infinite; /* Adjust duration for visibility */
}

@keyframes flash {
  0% { background-color: #ffffff; } /* Start color */
  50% { background-color: #add8e6; } /* Mid-point color */
  100% { background-color: #ffffff; } /* End color */
}










/* Table styling */
/* table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #4CAF50;
  color: white;
}

th, td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #ffdab9; 
}

tbody tr:nth-child(even) {
  background-color: #d0f0c0; 
}

tbody tr:hover {
  background-color: #ddd;
} */
